@model IEnumerable<MvcCoreNuevo.Models.Coche>

@{
    ViewData["Title"] = "Index";
}

@section scripts{ 
<script>
    $(document).ready(function () {
        $("#detalles").click(function () {

        });
    });
</script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelocidadMaxima)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelocidadMaxima)
            </td>
            <td>
                <button type="button" class="btn btn-info" id="detalles" value="@item.IdCoche">Detalles</button>
            </td>
        </tr>
}
    </tbody>
</table>
